Package: chonos-embeddedmas
Version: 1.2.0
Priority:
Architecture: all
Essential:
Depends: jason-embedded, chonos-log, javino (>= 1.6.0)
Pre-depends:
Suggests:
Installed-Size:
Maintainer: chon@grupo.cefet-rj.br
Conflicts:
Replaces:
Provides:
Description: Jason Embedded - A Spin-off Version of Jason for Programming Embedded Multiagent Systems
